<logging>
    <filter enabled="true">
        <tag>file</tag>
        <type>file</type>
        <level>DEBUG</level>
        <property name="filename">varys.log</property>
        <property name="format">[%D %T] [%L] (%S) %M</property>
        <property name="rotate">false</property>
        <property name="maxsize">0M</property>
        <property name="maxlines">0K</property>
        <property name="daily">false</property>
    </filter>
</logging>
